*{
  padding: 0;
  margin: 0;
}
/* HEADER*/
header{
  background: #212529;
  padding: 0px 5px;
  height: 97px;
  position: relative;
  overflow: hidden;
}
.hd-div{
  display: inline-block;
}
#logo{
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  color: #d9d9d9;
  padding-right: 37px;
}
#logo .cntnr{
  margin: 14px 3px;
}
#logo-name{
  display: block;
  font-size: 30px;
  letter-spacing: 6px;
}
#logo-name span, #logo-name-2 span{
  color: #e22b63;
}
#logo-name-2{
  display: block;
  font-size: 20px;
  letter-spacing: 5.5px;
}
#appointment{
  float: right;
  height: 100%;
}
#appointment .cntnr span{
  display: block;
  font-family: 'Libre Baskerville', serif;
  margin-top: 33px;
  padding: 8px 13px;
  color: #d9d9d9;
}
#apt{
  background: #e22b63;
}
#menu{
  display: none;
}
@media screen and (max-width: 405px)
and (min-width: 0){
  #menu{
    display: block;
    margin-top: 22px!important;
    font-size: 30px;
    color: #e22b63!important;
  }
  #apt{
    display: none!important;
  }
}
#links{
  width: 62%;
  height: 100%;
  position: absolute;
  font-family: 'Libre Baskerville', serif;
}
@media screen and (max-width: 853px)
and (min-width: 0){
  #links{
    display: none;
  }
}
#links ul{
  display: inline-block;
  list-style: none;
  height: 100%;
}
#links li{
  height: 100%;
  display: inline-block;
  overflow: hidden;
  color: #d9d9d9;
  padding: 0 10px;
}
#active-link{
  background: #e22b63;
}
#links ul li .cntnr{
  margin: 40px 4px;
}
#contact{
  display: inline-block;
  right: 0;
  position: absolute;
  width: 200px;
  text-align: center;
  top: 33px;
  padding: 7px;
  border:1px solid #e22b63;
  color: #d9d9d9;

}
@media screen and (max-width: 1082px)
and (min-width: 0){
  #contact{
    display: none;
  }
}
.menu-items{
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  background: rgba(0,0,0,0.9);
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  z-index: 999;
}
@media screen and (max-width: 780px)
and (min-width: 0){
  .menu-items{
    width: 80%;
  }
}
@media screen and (max-width: 506px)
and (min-width: 0){
  .menu-items{
    width: 90%;
  }
}
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.menu-items ul{
  width: 95%;
}
.menu-items ul li{
  color: #fff;
  list-style: none;
  margin: 15px 0;
  text-align: center;
}
.appointment span{
  display: block;
  background: #e22b63;
  color: #fff;
  padding: 8px;
  text-align: center;
}
.social{
  position: absolute;
  bottom: 5px;
  text-align:center;
  width: 100%;
}
.social a{
  color: #e22b63;
  margin-left: 2%;
}
#x-menu{
  color: silver;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  margin: 8px;
}
/* //HEADER */

/* X-COL */

.x-col{
  position: relative;
  height: 480px;
  width: 100%;
  background-size: cover!important;
  padding: 8px 0;
  font-family: 'Lato', sans-serif;
}
.x-content{
  background: rgba(33, 37, 41, 0.8);
  border: 1px solid #e22b63;
  color: #d9d9d9;
  width: 450px;
}
@media screen and (max-width: 472px)
and (min-width: 0){
  .x-content{
    width: 95%;
  }
}
.x-content hr{
  width: 40px;
  border-color: #e22b63;
}
.x-content .content{
  padding: 45px 37px;
}
.x-content h3{
  font-size: 30px;
  font-weight: lighter;
}
.x-content p{
  padding: 15px 0;
}
.x-content a{
  color: #d9d9d9;
  background: #e22b63;
  padding: 10px 5px;
  width: 100px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
/* //X-COL */

/* XX-COL */
.xx-col{
  padding: 50px 0;
}
.xx-col h3{
  padding: 8px;
  color: #e22b63;
}
.xx-col hr{
  width: 30px;
  margin-left: 8px;
}
.product{
  padding: 35px 0;
  width: 300px;
  overflow: hidden;
  margin-left: 5px;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 400px)
and (min-width: 0){
  .product{
    width: 95%;
    margin: auto;

    display: block;
  }
}
.product img{
  width: 100%;
}
.name{
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  width: 100%;
  text-align: center;
}
.price{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: #e22b63;
  font-weight: bold;
}

/* //XX-COL */
